.App-header{
  text-align: center;
}


.add-goal {
  width: 128px;
  height: 64px;
  background: green;
  color: white;
}

.remove-goal {
  width: 128px;
  height: 64px;
  background: red;
  color: white;
}

.goal-button-bar {
  display: flex;
  justify-content: space-between;
}

.game-container {
  border: 1px solid black;
  padding: 16px;
}